.NavLinksContainer {
  position: relative;
  display: inline-block;
}

.NavLinksContainer > *:not(:first-child) {
  margin-top: 1rem;
}

.mainLinksContainer {
  display: flex;
  align-items: center;
}

.NavLinks {
  font-size: 1.125rem;
  line-height: 1.75rem;
  transition-property: color, background-color, border-color,
    text-decoration-color, fill, stroke;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
  transition-duration: 150ms;
  color: black;
  font-weight: 600;
}

.NavLinksActive {
  color: #eb5528;
}

.NavLinks:hover {
  color: #eb5528;
}

.dropDownButton {
  margin-left: 8px;
  display: none;
  font-size: 1.125rem;
  line-height: 1.75rem;
}

.subLinksContainer{
  position: absolute;
  left: 0px;
  margin-top: 8px;
  min-width: 224px;
  padding: 8px;
  background-color: white;
  border: 1px;
  border-color: #d1d5db;
  border-radius: 6px;
  z-index: 10;
  transition-property: opacity;
    transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
    transition-duration: 300ms;
    opacity: 100;
    display: none;
}

.subLinksContainerOnLeave {
  opacity: 0;
}

.subLinksContainer > *:not(:first-child) {
  margin-top: 1rem;
}

.subLinks {
  display: block;
  padding: 12px;
  font-size: 1.125rem;
  line-height: 1.75rem;
  font-weight: 600;
  border-radius: 6px;
  transition-property: color, background-color, border-color, text-decoration-color, fill, stroke;
    transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
    transition-duration: 300ms;
}

.subLinks:hover{
  background-color: #eb5528;
  color: white;
}

@media (min-width: 768px) {
  .dropDownButton {
    display: block;
  }

  .subLinksContainer {
    display: block;
}
}
